@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/** CerebriSansPro Thin **/
@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/font-cerebri-sans-pro/CerebriSansPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/** CerebriSansPro Extra-light **/
@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/font-cerebri-sans-pro/CerebriSansPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/** CerebriSansPro Light **/
@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/font-cerebri-sans-pro/CerebriSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/** CerebriSansPro (normal) **/
@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/font-cerebri-sans-pro/CerebriSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/** CerebriSansPro Medium **/
@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/font-cerebri-sans-pro/CerebriSansPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/** CerebriSansPro Semi-bold **/
@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/font-cerebri-sans-pro/CerebriSansPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/** CerebriSansPro Bold **/
@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/font-cerebri-sans-pro/CerebriSansPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/** CerebriSansPro Extra-bold **/
@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/font-cerebri-sans-pro/CerebriSansPro-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/** CerebriSansPro Black **/
@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url('../fonts/font-cerebri-sans-pro/CerebriSansPro-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
	font-family: "Alako-Bold";
	src: url("../fonts/font-alako/Alakob.eot?") format("eot"), url("../fonts/font-alako/Alakob.woff") format("woff"), url("../fonts/font-alako/Alakob.ttf") format("truetype"), url("../fonts/font-alako/Alakob.svg#Alako-Bold") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* Svn wellfont */
@font-face {
    font-family: 'SVN-Wellfont';
    src: url("../fonts/font-svn-wellfont/SVN-Wellfont.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;    
}