$active: #FF3514;

@import './skins.scss'; 

body, a{
    color: #06163A;
}
.page-index #header{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    .header-5 #header-top{
        &.sticky{
            .header-right .btn-group{
                &.user-info{
                    > a{
                        color: inherit;
                        &:hover{
                            color: $active;
                            border-color: $active;
                        }
                    }
                }
                > a{
                    border-color: inherit;
                    &:hover path{
                        fill: $active;
                    }
                    path{
                        fill: #3F2803;
                    }
                }
            }
        }
        .header-right .btn-group{
            &.user-info{
                > a{
                    color: #fff;
                    &:hover{
                        color: $active;
                        border-color: $active;
                    }
                }
            }
            > a{
                border-color: #fff;
                &:hover{
                    border-color: $active;
                    path{
                        fill: $active;
                    }
                }
                path{
                    fill: #fff;
                }
            }
        }
    }
}

.gdz-slide-content .btn {
    padding: 0 31px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.fs-pager-wrapper{
    top: calc(50% - 14px);
    bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 3.85vw;
    transform: translateY(-50%);
    a{
        height: 20px;
        &.active{
            margin: 4px 0;
        }
    }
}
.service-box{
    margin-top: -100px;
    position: relative;
    z-index: 999;
    &::before{
        content: url("../img/dishes/img-1.png");
        position: absolute;
        left: -9px;
        top: 29px;
        z-index: 999;
    }
    .pb-service-box{
        background: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        padding: 33px 20px 8px;
        .pb-service-icon{
            margin-bottom: 25px;
            img{
                width: auto !important;
            }
        }
    }
    .pb-service-title{
        font-size: 20px;
        font-weight: 500;
        color: inherit;
        margin-bottom: 10px;
    }
    .pb-service-description{
        p{
            font-size: 18px;
            color: #62718D;
        }
    }
}
.categorytab{
    position: relative;
    z-index: 1;
    &::before{
        content: url("../img/dishes/img-2.png");
        position: absolute;
        right: -9px;
        top: 43%;
        z-index: 1;
    }
}
.category-tab-right{
    .title h3{
        color: inherit;
        font-weight: 600;
    }
    .nav.nav-tabs{
        margin-bottom: 62px;
    }
}
.delivry{
    .pb-service-box{
        background: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        padding: 39px 25px 11px;
        .pb-service-icon{
            margin-bottom: 31px;
            min-height: 43px;
            img{
                width: auto !important;
            }
        }
    }
    .pb-service-title{
        font-size: 20px;
        font-weight: 500;
        color: inherit;
        margin-bottom: 11px;
    }
    .pb-service-description{
        p{
            color: #62718D;
            line-height: 26px;
        }
    }
}
.testimonial{
    position: relative;
    z-index: 1;
    &::before{
        content: url("../img/dishes/img-3.png");
        position: absolute;
        left: -9px;
        top: -38px;
        z-index: 1;
    }
    &::after{
        content: url("../img/dishes/img-4.png");
        position: absolute;
        right: -9px;
        bottom: -55px;
        z-index: 1;
    }
    .container-fluid{
        > .row{
            align-items: center;
        }
    }
    .pb-image{
        img{
            margin-left: auto;
            display: block;
            margin-right: 48px;
        }
    }
    .title{
        font-weight: 600;
    }
}
.map{
    .pb-map{
        border-radius: 20px;
        overflow: hidden;
    }
}
.col-contact-info{
    h3{
        font-weight: 600;
    }
    h5{
        font-weight: 500;
    }
    p{
        font-weight: 500;
        letter-spacing: 0.03em;
    }
    .social-links{
        margin-top: 11px;
        margin-bottom: 0;
        li{
            margin-right: 16px;
        }
    }
}
.col-contact-form{
    .contact-form{
        margin-top: 4px;
        > h3{
            display: none;
        }
        .form-group{
            margin-bottom: 30px;
            &.col{
                flex: 0 0 100%;
            }
        }
        label{
            font-size: 22px;
            font-weight: 500;
            letter-spacing: 0.03em;
            line-height: 29px;
            margin-bottom: 12px;
        }
        .form-control{
            height: 52px;
            background: #FFFFFF;
            border: 2px solid #F4F4F4;
            border-radius: 10px;
            color: #62718D;
            font-size: 16px;
            padding: 7px 16px;
            &:focus{
                border-color: inherit;
            }
            &::placeholder{
                color: #62718D;
            }
        }
        textarea.form-control{
            height: 120px;
        }
        .btn-submit{
            font-size: 20px;
            letter-spacing: -0.02em;
            padding: 6px 40px;
            height: 50px;
            box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        }
    }
}

@media (max-width: 1366px){
    .service-box{
        &::before{
            display: none;
        }
    }
}
@media (max-width: 1199px){
    .service-box{
        margin-top: 50px;
    }
    .service-box .pb-service-title {
        font-size: 18px;
    }
    .service-box .pb-service-description p {
        font-size: 15px;
    }
    .delivry .pb-service-box .pb-service-icon {
        margin-bottom: 15px;
    }
    .delivry .pb-service-box {
        margin-bottom: 30px;
    }
    .testimonial {
        &::before, &::after{
            opacity: 0;
        }
    }
    .col-contact-form .contact-form label {
        font-size: 18px;
    }
    .col-contact-form .contact-form .form-control,
    .col-contact-form .contact-form .btn-submit {
        font-size: 15px;
    }
    .contact-form .input-group-btn .btn .buttonText {
        font-size: 15px;
    }
}
@media (max-width: 767px){
    .page-index #header{
        position: static;
    }
    .col-contact-form{
        margin-top: 30px;
    }
}
@media (max-width: 575px){
    .service-box{
        .layout-column{
            margin-bottom: 15px;
        }
    }
    .testimonial{
        .container-fluid{
            padding: 0 15px;
        }
        .layout-column + .layout-column{
            margin-top: 30px;
        }
    }
}