$active: #70C03E;

@import './skins.scss'; 

@media (min-width: 1600px){
    .container{
        max-width: 1560px;
    }
}


.page-index{
    background: url("../img/food-market-2/food-market-2-bg.jpg") no-repeat center;
    background-size: cover;
    #header{
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        background-color: #fff;
        z-index: 1001;
    }
}
.productbox-2{
    .category-name{
        display: none;
    }
}
.fs-pager-wrapper{
    top: 42%;
    bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 5vw;
    transform: none;
    a{
        height: 20px;
        &.active{
            margin: 4px 0;
        }
    }
}
.gdz-slider-wrapper{
    .btn{
        padding: 0 33px;
    }
}

.banner-vector{
    position: relative;
    margin-top: -258px;
    &::before{
        content: url("../img/food-market-2/vector.png");
        position: absolute;
        left: -7px;
        top: -146px;
        z-index: 999;
    }
    .container{
        position: relative;
        z-index: 1000;
    }
}
.row-box{
    max-width: 1530px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
}
.category-tab{
    padding: 17px 0 11px;
    position: relative;
    z-index: 1000;
    .heading{
        margin-bottom: 41px;
        img{
            margin-right: 12px;
        }
        h3{
            font-size: 30px;
            font-weight: 600;
            color: inherit;
            margin-bottom: 0;
        }
    }
    .addon-tab .nav-tabs{
        padding-top: 6px;
        &.tab-right{
            padding-right: 167px;
            .nav-item{
                margin-left: 31px;
            }
        }
        .nav-item{
            position: relative;
            + .nav-item{
                &::before{
                    content: "";
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: rgba(122, 196, 75, 0.5);
                    position: absolute;
                    left: -20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        .nav-link{
            color: rgba(63, 40, 3, 0.5);
            font-size: 16px;
            font-weight: 500;
            padding: 0;
            border: 0;
            &.active, &:hover{
                background: transparent;
                box-shadow: none;
                color: $active;
            }
        }
    }
    .pb-categorytab{
        .owl-nav{
            width: auto;
            right: 26px;
            top: -65px;
            position: absolute;
            button{
                position: static;
                transform: none;
            }
        }
    }
    .owl-item.active + .owl-item.active + .owl-item.active + .owl-item.active{
        .product-miniature{
            &::before{
                opacity: 0;
            }
        }
    }
    .product-miniature{
        box-shadow: none;
        margin-bottom: 0;
        padding-bottom: 0;
        &::before{
            content: "";
            width: 2px;
            height: calc(100% - 25px);
            background-color: #f7f7f7;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
    }
}
.productbox-2{
    .product-flags .new {
        top: 20px;
        left: 20px;
    }
    .product-flags .discount {
        top: 20px;
        right: 20px;
    }
}
@media (min-width: 992px){
    .category-tab{
        .container{
            padding: 0;
            > .row{
                margin-left: 0;
                margin-right: 0;
            }
        }
        .col-lg-3 {
            flex: 0 0 22.4%;
            max-width: 22.4%;
            padding: 0 0 0 30px;
        }
        .col-lg-9 {
            flex: 0 0 77.6%;
            max-width: 77.6%;
            padding: 0;
        }
    }
}


.banner-process{
    .pb-heading{
        margin-bottom: 33px;
    }
    .pb-service-box{
        display: flex;
        align-items: center;
        padding-left: 38px;
        padding-right: 20px;
    }
    .pb-service-icon{
        display: inline-block;
        margin-right: 21px;
        margin-bottom: 0;
        min-width: 95px;
    }
    .pb-service-content{
        display: inline-block;
        padding-top: 5px;
    }
    .pb-service-title{
        font-size: 22px;
        font-weight: 600;
        color: #3F2803;
        margin-bottom: 11px;
    }
    .pb-service-description{
        margin-bottom: 0;
        p{
            color: rgba(63, 40, 3, 0.7);
            margin-bottom: 0;
            line-height: 28px;
        }
    }
}
.newsletter{
    .pb-heading{
        font-weight: 600;
        margin-bottom: 8px;
    }
    .block_newsletter{
        max-width: 490px;
        margin-top: 30px;
        button{
            margin-top: 22px;
            width: 100%;
            border-color: $active;
            background-color: $active;
            color: #fff;
        }
    }
}
@media (max-width: 1366px){
    .banner-vector{
        margin-top: -200px;
        &::before{
            display: none;
        }
    }
    .category-tab .heading h3 {
        font-size: 22px;
    }
    .category-tab .addon-tab .nav-tabs.tab-right {
        padding-right: 140px;
    }
    .productbox-2 .product-buttons .ajax-add-to-cart {
        padding: 0 12px;
    }
}
@media (max-width: 1199px){
    .banner-vector{
        margin-top: -100px;
    }
}
@media (max-width: 991px){
    .page-index #header{
        position: static;
    }
    .banner-process{
        .layout-column{
            margin-bottom: 30px;
        }
    }
    .banner-process .pb-service-box {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 767px){
    .banner-process .pb-service-title {
        font-size: 18px;
    }
    .banner-vector {
        margin-top: 0;
    }
    .category-tab .pb-categorytab .owl-nav{
        position: static;
    }
    .category-tab .addon-tab .nav-tabs.tab-right {
        padding-right: 0;
    }
}
@media (max-width: 767px) and (min-width: 576px){
    .addon-tab .nav-tabs.tab-right .nav-item {
        display: inline-block;
        width: auto;
        margin-left: 10px;
    }
}
@media (max-width: 575px){
    .banner-vector,  .category-tab{
        .layout-column + .layout-column{
            margin-top: 15px;
        }
    }
    .category-tab .addon-tab .nav-tabs.tab-right .nav-item {
        margin-left: 0;
    }
    .category-tab .addon-tab .nav-tabs .nav-item + .nav-item::before{
        display: none;
    }
}