$active: #B8D021;

@import './skins.scss'; 
@import './_dark.scss'; 


.page-index{
    #header{
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1000;
        .header-6 #header-top{
            &.sticky{
                .header-right .btn-group{
                    &.user-info{
                        > a{
                            color: #3F2803;
                            &:hover{
                                color: $active;
                                border-color: $active;
                            }
                        }
                    }
                    > a{
                        border-color: inherit;
                        &:hover path{
                            fill: $active;
                        }
                        path{
                            fill: #3F2803;
                        }
                    }
                }
            }
        }
    }
}
.gdz-slide-content .btn {
    padding: 0 31px;
}
.fs-pager-wrapper{
    top: calc(50% - 41px);
    bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 5.7vw;
    transform: translateY(-50%);
    a{
        height: 20px;
        &.active{
            margin: 4px 0;
            span::before{
                background-color: transparent;
            }
        }
        span{
            background-color: #fff;
        }
    }
}
.product-miniature .price.new{
    font-weight: 600;
}
.addon-tab .nav.nav-tabs {
    margin-bottom: 60px;
    .nav-item{
        margin-left: 7.5px;
        margin-right: 7.5px;
    }
}
.banner{
    margin-top: -145px;
    position: relative;
    z-index: 999;
}
.owl-dots button span{
    background-color: #fff;
}
.banner-fullwidth{
    .container-fluid{
        padding-left: 126px;
        padding-right: 126px;
    }
    h5{
        font-weight: 600;
        margin-bottom: -4px;
        span{
            font-size: 44px;
            font-weight: 300;
            margin-left: -11px;
        }
    }
    h6{
        font-weight: 600;
        letter-spacing: -0.01em;
        margin-bottom: 5px;
    }
}
.service-box{
    .layout-column:nth-child(2){
        .pb-service-box{
            background-color: #212126;
        }
    }
    .pb-service-box{
        border: 3px solid #212126;
        border-radius: 20px;
        padding: 40px 20px 20px;
        .pb-service-icon{
            margin-bottom: 49px;
            img{
                width: auto !important;
            }
        }
    }
    .pb-service-title{
        font-size: 27px;
        color: #fff;
        margin-bottom: 17px;
    }
    .pb-service-description{
        padding: 0 20px;
        p{
            font-size: 18px;
            color: rgba(255, 255, 255, 0.7);
            font-style: italic;
        }
    }
}
.testimonial{
    position: relative;
    z-index: 1;
    &::before{
        content: url("../img/food-delivery/leaf-1.png");
        position: absolute;
        right: 13px;
        top: -102px;
        z-index: 1;
    }
    &::after{
        content: url("../img/food-delivery/leaf-2.png");
        position: absolute;
        left: -9px;
        bottom: 249px;
        z-index: 1;
    }
    .pb-image{
        img{
            margin-left: 86px;
        }
    }
}

.newsletter{
    .layout-column{
        display: flex;
        align-items: center;
    }
    h5{
        font-weight: 500;
        margin-right: 25px;
    }
    .block_newsletter{
        margin-right: 82px;
        .content{
            display: flex;
        }
        input{
            margin-right: 15px;
            background: rgba(245, 245, 245, 0.15);
            border-radius: 50px;
            border: none;
            width: 443px;
            color: rgba(255, 255, 255, 0.7);
            &::placeholder{
                color: rgba(255, 255, 255, 0.7);
            }
        }
        button{
            background-color: $active;
            border-color: $active;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0;
        }
    }
    #social-links{
        margin-bottom: 0;
        li + li{
            margin-left: 15px;
        }
    }
}
@media (max-width: 1366px){
    .newsletter .block_newsletter input{
        width: 100%;
    }
}
@media (max-width: 1199px){
    .page-index #header{
        position: static;
        background-color: #fff;
    }
    #mobile-header .btn-group .dropdown-menu ul li a {
        color: #3F2803;
    }
    .banner{
        margin-top: 50px;
    }
    .fs-pager-wrapper {
        top: calc(50% - 0px);
    }
    .newsletter .layout-column{
        flex-direction: column;
    }
    .newsletter h5.pb-heading{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .newsletter .block_newsletter {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .newsletter .block_newsletter button {
        margin-left: 10px;
    }
}
@media (max-width: 991px){
    .banner-fullwidth h5 span {
        font-size: 20px;
        margin-left: 0;
    }
    .banner-fullwidth h5 {
        margin-bottom: 10px;
    }
    .service-box .pb-service-title {
        font-size: 18px;
    }
    .service-box .pb-service-description p {
        font-size: 15px;
    }
    .service-box .pb-service-box {
        padding: 20px 0;
    }
    .testimonial {
       &::before, &::after{
           display: none;
       }
    }
}
@media (max-width: 767px){
    .banner{
        margin-top: 15px;
    }
    .addon-tab .nav.nav-tabs .nav-item {
        margin-left: 0;
        margin-right: 0;
    }
    .addon-tab .nav.nav-tabs {
        margin-bottom: 20px;
    }
    .banner-fullwidth .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
    .testimonial .pb-image img {
        margin-left: 0;
        margin-top: 40px;
    }
    .newsletter .block_newsletter button {
        font-size: 15px;
    }
}
@media (max-width: 575px){
    .banner, .service-box{
        .layout-column + .layout-column{
            margin-top: 15px;
        }
    }
    .newsletter .block_newsletter .content{
        flex-direction: column;
    }
    .newsletter .block_newsletter input{
        margin-right: 0;
    }
    .newsletter .block_newsletter button {
        margin-left: 0;
        margin-top: 15px;
    }
}