h1, h2, h3, h4, h5, h6 {
  color: #D3183A;
}

a:hover {
  color: #D3183A;
  opacity: 1;
}

.btn.btn-active, .btn:hover {
  border-color: #D3183A;
  background-color: #D3183A;
}

.btn-link:hover {
  color: #D3183A;
}

.breadcrumb-wrapper .breadcrumb li a:hover {
  color: #D3183A;
}

.popup-newsletter .block_newsletter .content button {
  background-color: #D3183A;
  border-color: #D3183A;
}

.gdz-megamenu .nav > .menu-item .mega-nav li > a:hover {
  color: #D3183A;
}

.fs-pager-wrapper a span,
.fs-pager-wrapper a.active span {
  background-color: #D3183A;
  border-color: #D3183A;
}

.fs-pager-wrapper a.active span::before {
  border-color: #D3183A;
}

.gdz-slider-wrapper .nav-control > a {
  background-color: #D3183A;
}

.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
  background-color: #D3183A;
}

.owl-dots button span,
.owl-dots button.active span {
  background-color: #D3183A;
  border-color: #D3183A;
}

.owl-dots button.active span::before {
  border-color: #D3183A;
}

.header-3 .header-bottom {
  background-color: #D3183A;
}

.header-5 #header-top .header-right .btn-group > a:hover path {
  fill: #D3183A;
}

#off-canvas-menu > .btn-group li.current a {
  color: #D3183A;
}

#hor-menu .nav > li > a span::after {
  background-color: #D3183A;
}

.gdz-megamenu .nav > .menu-item .mega-nav li.group > a {
  color: #D3183A;
}

.price.new {
  color: #D3183A;
}

.price.total {
  color: #D3183A;
}

.cart-prices-line .value {
  color: #D3183A;
}

#cart_block .remove-from-cart:hover path {
  fill: #D3183A;
}

#blockcart-modal .value {
  color: #D3183A;
}

#blockcart-modal .btn-default {
  border-color: #D3183A;
  color: #D3183A;
}

.productbox-2 .product-buttons .ajax-add-to-cart {
  color: #D3183A;
  border-color: #D3183A;
}

.productbox-3 .product-buttons .btn-icon path {
  fill: #D3183A;
}

.productbox-4 .block-addtocart .product-buttons .cart-button {
  background-color: #D3183A;
}

.productbox-4 .block-addtocart .product-buttons .btn-icon.quick-view:hover {
  background-color: #D3183A;
}
.productbox-4 .block-addtocart .product-buttons .btn-icon.quick-view path {
  fill: #D3183A;
}

.product-miniature::before {
  border-color: #D3183A;
}

.addon-tab .nav-tabs .nav-link.active, .addon-tab .nav-tabs .nav-link:hover {
  color: #D3183A;
}

.pb-testimonial .quote svg {
  fill: #D3183A;
}

.pb-testimonial .pb-testimonial-comment svg path {
  fill: #D3183A;
}

.pb-testimonial.with-thumbnails .pb-testimonial-carousel .owl-nav button:hover path {
  fill: #D3183A;
}

/* Product list */
#search_filters .ui-slider .ui-slider-handle {
  border-color: #D3183A;
}

#search_filters .filter-block .icon-close:hover svg path {
  fill: #D3183A;
}

#search_filters .facet.Weight .facet-label > a:hover {
  border-color: #D3183A;
}

#search_filters .facet.Weight .facet-label.active > a {
  border-color: #D3183A;
  color: #D3183A;
}

.products-sort-order .dropdown-menu a:hover, .products-sort-order .dropdown-menu a.current {
  color: #D3183A;
}

.switch-view.active rect {
  fill: #D3183A;
}

.products-list .product-miniature .product-info .product-buttons .btn-icon:hover path {
  fill: #D3183A;
  fill-opacity: 1;
}
.products-list .product-miniature .product-info .product-buttons .btn-icon:hover span {
  color: #D3183A;
}

.pagination li a:hover {
  color: #D3183A;
}
.pagination li a:hover path {
  fill: #D3183A;
  fill-opacity: 1;
}
.pagination li.current a {
  color: #D3183A;
}

/* details */
.available-quantity {
  color: #D3183A;
}

.bootstrap-touchspin .input-group-btn-vertical .btn-touchspin:hover i::before {
  color: #D3183A;
}

.product-actions .addToWishlist:hover {
  color: #D3183A;
}

.product-actions .addToWishlist:hover svg path {
  fill: #D3183A;
}

.product-images .thumb-container > .thumb.selected,
.product-images .thumb-container > .thumb:hover {
  border-color: #D3183A;
}

.images-container .slick-arrow:hover {
  background-color: #D3183A;
}

#more_info_block li a.active, #more_info_block li a:hover {
  color: #D3183A;
}

.product-variants-item ul li:hover .radio-label, .product-variants-item input:checked ~ .radio-label {
  color: #D3183A;
  border-color: #D3183A;
}

/*account*/
.show-pass button:hover {
  color: #D3183A;
}

/* Blog */
.blog-post .post-fulltext ul li::before {
  background-color: #D3183A;
}

.blog-post .post-fulltext .border-left::before {
  background-color: #D3183A;
}

.widget-categories li a:hover {
  color: #D3183A;
}

.blog-widget li a:hover {
  color: #D3183A;
}

.widget-newsletter .block_newsletter .content button path {
  fill: #D3183A;
}

/* Cart */
.remove-from-cart:hover {
  color: #D3183A;
}

.product-line-info .price {
  color: #D3183A;
}

/* footer */
.footer #footer-main .block-content li a:hover {
  color: #D3183A;
}

.footer-4 .hotline {
  color: #D3183A;
}

.footer-5 #footer-main .block-content li a:hover {
  color: #D3183A;
}

.page-index #header {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: transparent;
  z-index: 1001;
}
.page-index #header #hor-menu .nav > li > a {
  color: #fff;
}
.page-index #header .sticky #hor-menu .nav > li > a {
  color: inherit;
}
.page-index #header .sticky .btn-group > a path {
  fill: #3F2803;
}
.page-index #header .btn-group > a path {
  fill: #fff;
}

#header {
  background-color: #fff;
}

.slider-cakes .gdz-slide-content {
  font-family: "Alako-Bold";
}
.slider-cakes .fs-pager-wrapper {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 3.75vw;
}
.slider-cakes .fs-pager-wrapper a {
  height: 20px;
}
.slider-cakes .fs-pager-wrapper a.active {
  margin: 4px 0;
}
.slider-cakes .btn {
  font-family: "Poppins";
  color: #D3183A;
  border: none;
}
.slider-cakes .btn:hover {
  color: #fff;
}

.pb-service-box .pb-service-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 140px;
  height: 140px;
  -webkit-box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.09);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-bottom: 39px;
}
.pb-service-box .pb-service-icon img {
  width: auto !important;
}
.pb-service-box .pb-service-title {
  color: inherit;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 23px;
}
.pb-service-box .pb-service-description p {
  font-size: 17px;
  line-height: 27px;
  color: rgba(63, 40, 3, 0.7);
  padding: 0 20px;
}

.gdz-row.banner .pb-banner-button {
  letter-spacing: -0.02em;
  font-size: 17px;
}
.gdz-row.banner .pb-banner-button::after {
  bottom: 8px;
}

.banner-2 .pb-banner-desc {
  font-family: "Alako-Bold";
}
.banner-2 .pb-banner-text .pb-banner-subtitle {
  font-weight: 300;
}
.banner-2 .pb-banner-text .pb-banner-title {
  font-weight: 600;
}
.banner-2 .pb-banner-text .pb-banner-button {
  margin-top: 65px;
}

.banner-1 .pb-banner-title {
  font-family: "Alako-Bold";
}
.banner-1 .pb-banner-text {
  max-width: 200px;
}
.banner-1 .pb-banner-button {
  margin-top: 82px;
}

.banner-3 .pb-banner-title {
  font-family: "Alako-Bold";
}
.banner-3 .pb-banner-text {
  max-width: 150px;
}
.banner-3 .pb-banner-button {
  margin-top: 82px;
}

.addon-tab .nav.nav-tabs {
  margin-bottom: 60px;
}

.addon-tab .nav-tabs .nav-item {
  margin-left: 7px;
  margin-right: 7px;
}
.addon-tab .nav-tabs .nav-link {
  font-size: 22px;
  color: rgba(70, 70, 71, 0.5);
  border-color: #fff;
  padding: 7px 33px;
}

.category-tab {
  margin-top: -146px;
  padding-top: 247px;
  padding-bottom: 70px;
}

.about-delivery .col-accordion .addon-box {
  background-color: #fff;
  margin-left: 28px;
  padding-left: 100px;
  padding-right: 100px;
}
.about-delivery .col-accordion .addon-box:first-child {
  padding-top: 60px;
  padding-bottom: 16px;
  border-radius: 0 100px 0 0;
}
.about-delivery .col-accordion .addon-box:first-child + .addon-box {
  padding-bottom: 32px;
  border-radius: 0 0 0 100px;
}
.about-delivery .pb-accordion h5 {
  font-size: 24px;
  font-weight: 600;
}
.about-delivery .pb-accordion h5::after {
  top: calc(50% - 3px);
}
.about-delivery .card-header {
  background-color: #fff;
  border: none;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}
.about-delivery .card {
  border: none;
  padding: 10px 0;
}
.about-delivery .card + .card {
  border-top: 1px solid #f4f4f4;
}
.about-delivery .card-body {
  padding: 3px 0 5px 0;
  color: rgba(63, 40, 3, 0.7);
  font-size: 17px;
  line-height: 27px;
  padding-right: 50px;
}

.testimonial-center {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}
.testimonial-center .owl-item.active .pb-testimonial-box {
  background-color: #fff;
  opacity: 1;
}
.testimonial-center .pb-testimonial-box {
  background: #F0F0F0;
  opacity: 0.5;
  padding: 39px 20px;
  -webkit-box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}
.testimonial-center .pb-testimonial-box .pb-testimonial-img {
  margin: 0;
}
.testimonial-center .pb-testimonial-box .pb-testimonial-img img {
  width: 80px;
  height: 80px;
}
.testimonial-center .pb-testimonial-box .pb-testimonial-comment {
  max-width: 84%;
  margin-top: 0;
}
.testimonial-center .pb-testimonial .quote {
  margin-bottom: 14px;
}
.testimonial-center .pb-testimonial .pb-testimonial-author {
  margin-bottom: -7px;
}
.testimonial-center .owl-carousel .owl-nav button {
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.12);
}
.testimonial-center .owl-carousel .owl-nav button svg {
  width: 36px;
  height: 36px;
}
.testimonial-center .owl-carousel .owl-nav button.owl-prev {
  left: -37px;
}
.testimonial-center .owl-carousel .owl-nav button.owl-next {
  right: -37px;
}

@media (max-width: 1366px) {
  .banner-1 .pb-banner-text .pb-banner-button, .banner-2 .pb-banner-text .pb-banner-button, .banner-3 .pb-banner-text .pb-banner-button {
    margin-top: 0;
  }
}
@media (max-width: 1199px) {
  .pb-service-box .pb-service-description p {
    font-size: 15px;
    padding: 0;
  }

  .pb-service-box .pb-service-title {
    font-size: 20px;
  }

  .addon-tab .nav-tabs .nav-link {
    font-size: 15px;
  }

  .about-delivery .pb-accordion h5 {
    font-size: 18px;
  }

  .about-delivery .card-body {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  .about-delivery .col-accordion .addon-box {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .pb-service-box .pb-service-icon {
    width: 100px;
    height: 100px;
  }

  .pb-service-box .pb-service-icon img {
    max-width: 35px;
  }

  .about-delivery .col-accordion .addon-box {
    padding-left: 15px;
    padding-right: 15px;
  }

  .testimonial-center .pb-testimonial-box .pb-testimonial-comment {
    max-width: 100%;
  }
}
@media (max-width: 575px) {
  .banner .layout-column {
    margin-bottom: 15px;
  }
}