h1, h2, h3, h4, h5, h6 {
  color: #70C03E;
}

a:hover {
  color: #70C03E;
  opacity: 1;
}

.btn.btn-active, .btn:hover {
  border-color: #70C03E;
  background-color: #70C03E;
}

.btn-link:hover {
  color: #70C03E;
}

.breadcrumb-wrapper .breadcrumb li a:hover {
  color: #70C03E;
}

.popup-newsletter .block_newsletter .content button {
  background-color: #70C03E;
  border-color: #70C03E;
}

.gdz-megamenu .nav > .menu-item .mega-nav li > a:hover {
  color: #70C03E;
}

.fs-pager-wrapper a span,
.fs-pager-wrapper a.active span {
  background-color: #70C03E;
  border-color: #70C03E;
}

.fs-pager-wrapper a.active span::before {
  border-color: #70C03E;
}

.gdz-slider-wrapper .nav-control > a {
  background-color: #70C03E;
}

.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
  background-color: #70C03E;
}

.owl-dots button span,
.owl-dots button.active span {
  background-color: #70C03E;
  border-color: #70C03E;
}

.owl-dots button.active span::before {
  border-color: #70C03E;
}

.header-3 .header-bottom {
  background-color: #70C03E;
}

.header-5 #header-top .header-right .btn-group > a:hover path {
  fill: #70C03E;
}

#off-canvas-menu > .btn-group li.current a {
  color: #70C03E;
}

#hor-menu .nav > li > a span::after {
  background-color: #70C03E;
}

.gdz-megamenu .nav > .menu-item .mega-nav li.group > a {
  color: #70C03E;
}

.price.new {
  color: #70C03E;
}

.price.total {
  color: #70C03E;
}

.cart-prices-line .value {
  color: #70C03E;
}

#cart_block .remove-from-cart:hover path {
  fill: #70C03E;
}

#blockcart-modal .value {
  color: #70C03E;
}

#blockcart-modal .btn-default {
  border-color: #70C03E;
  color: #70C03E;
}

.productbox-2 .product-buttons .ajax-add-to-cart {
  color: #70C03E;
  border-color: #70C03E;
}

.productbox-3 .product-buttons .btn-icon path {
  fill: #70C03E;
}

.productbox-4 .block-addtocart .product-buttons .cart-button {
  background-color: #70C03E;
}

.productbox-4 .block-addtocart .product-buttons .btn-icon.quick-view:hover {
  background-color: #70C03E;
}
.productbox-4 .block-addtocart .product-buttons .btn-icon.quick-view path {
  fill: #70C03E;
}

.product-miniature::before {
  border-color: #70C03E;
}

.addon-tab .nav-tabs .nav-link.active, .addon-tab .nav-tabs .nav-link:hover {
  color: #70C03E;
}

.pb-testimonial .quote svg {
  fill: #70C03E;
}

.pb-testimonial .pb-testimonial-comment svg path {
  fill: #70C03E;
}

.pb-testimonial.with-thumbnails .pb-testimonial-carousel .owl-nav button:hover path {
  fill: #70C03E;
}

/* Product list */
#search_filters .ui-slider .ui-slider-handle {
  border-color: #70C03E;
}

#search_filters .filter-block .icon-close:hover svg path {
  fill: #70C03E;
}

#search_filters .facet.Weight .facet-label > a:hover {
  border-color: #70C03E;
}

#search_filters .facet.Weight .facet-label.active > a {
  border-color: #70C03E;
  color: #70C03E;
}

.products-sort-order .dropdown-menu a:hover, .products-sort-order .dropdown-menu a.current {
  color: #70C03E;
}

.switch-view.active rect {
  fill: #70C03E;
}

.products-list .product-miniature .product-info .product-buttons .btn-icon:hover path {
  fill: #70C03E;
  fill-opacity: 1;
}
.products-list .product-miniature .product-info .product-buttons .btn-icon:hover span {
  color: #70C03E;
}

.pagination li a:hover {
  color: #70C03E;
}
.pagination li a:hover path {
  fill: #70C03E;
  fill-opacity: 1;
}
.pagination li.current a {
  color: #70C03E;
}

/* details */
.available-quantity {
  color: #70C03E;
}

.bootstrap-touchspin .input-group-btn-vertical .btn-touchspin:hover i::before {
  color: #70C03E;
}

.product-actions .addToWishlist:hover {
  color: #70C03E;
}

.product-actions .addToWishlist:hover svg path {
  fill: #70C03E;
}

.product-images .thumb-container > .thumb.selected,
.product-images .thumb-container > .thumb:hover {
  border-color: #70C03E;
}

.images-container .slick-arrow:hover {
  background-color: #70C03E;
}

#more_info_block li a.active, #more_info_block li a:hover {
  color: #70C03E;
}

.product-variants-item ul li:hover .radio-label, .product-variants-item input:checked ~ .radio-label {
  color: #70C03E;
  border-color: #70C03E;
}

/*account*/
.show-pass button:hover {
  color: #70C03E;
}

/* Blog */
.blog-post .post-fulltext ul li::before {
  background-color: #70C03E;
}

.blog-post .post-fulltext .border-left::before {
  background-color: #70C03E;
}

.widget-categories li a:hover {
  color: #70C03E;
}

.blog-widget li a:hover {
  color: #70C03E;
}

.widget-newsletter .block_newsletter .content button path {
  fill: #70C03E;
}

/* Cart */
.remove-from-cart:hover {
  color: #70C03E;
}

.product-line-info .price {
  color: #70C03E;
}

/* footer */
.footer #footer-main .block-content li a:hover {
  color: #70C03E;
}

.footer-4 .hotline {
  color: #70C03E;
}

.footer-5 #footer-main .block-content li a:hover {
  color: #70C03E;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1560px;
  }
}
.page-index {
  background: url("../img/food-market-2/food-market-2-bg.jpg") no-repeat center;
  background-size: cover;
}
.page-index #header {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  z-index: 1001;
}

.productbox-2 .category-name {
  display: none;
}

.fs-pager-wrapper {
  top: 42%;
  bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 5vw;
  -webkit-transform: none;
          transform: none;
}
.fs-pager-wrapper a {
  height: 20px;
}
.fs-pager-wrapper a.active {
  margin: 4px 0;
}

.gdz-slider-wrapper .btn {
  padding: 0 33px;
}

.banner-vector {
  position: relative;
  margin-top: -258px;
}
.banner-vector::before {
  content: url("../img/food-market-2/vector.png");
  position: absolute;
  left: -7px;
  top: -146px;
  z-index: 999;
}
.banner-vector .container {
  position: relative;
  z-index: 1000;
}

.row-box {
  max-width: 1530px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.category-tab {
  padding: 17px 0 11px;
  position: relative;
  z-index: 1000;
}
.category-tab .heading {
  margin-bottom: 41px;
}
.category-tab .heading img {
  margin-right: 12px;
}
.category-tab .heading h3 {
  font-size: 30px;
  font-weight: 600;
  color: inherit;
  margin-bottom: 0;
}
.category-tab .addon-tab .nav-tabs {
  padding-top: 6px;
}
.category-tab .addon-tab .nav-tabs.tab-right {
  padding-right: 167px;
}
.category-tab .addon-tab .nav-tabs.tab-right .nav-item {
  margin-left: 31px;
}
.category-tab .addon-tab .nav-tabs .nav-item {
  position: relative;
}
.category-tab .addon-tab .nav-tabs .nav-item + .nav-item::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgba(122, 196, 75, 0.5);
  position: absolute;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.category-tab .addon-tab .nav-tabs .nav-link {
  color: rgba(63, 40, 3, 0.5);
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  border: 0;
}
.category-tab .addon-tab .nav-tabs .nav-link.active, .category-tab .addon-tab .nav-tabs .nav-link:hover {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #70C03E;
}
.category-tab .pb-categorytab .owl-nav {
  width: auto;
  right: 26px;
  top: -65px;
  position: absolute;
}
.category-tab .pb-categorytab .owl-nav button {
  position: static;
  -webkit-transform: none;
          transform: none;
}
.category-tab .owl-item.active + .owl-item.active + .owl-item.active + .owl-item.active .product-miniature::before {
  opacity: 0;
}
.category-tab .product-miniature {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.category-tab .product-miniature::before {
  content: "";
  width: 2px;
  height: calc(100% - 25px);
  background-color: #f7f7f7;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.productbox-2 .product-flags .new {
  top: 20px;
  left: 20px;
}
.productbox-2 .product-flags .discount {
  top: 20px;
  right: 20px;
}

@media (min-width: 992px) {
  .category-tab .container {
    padding: 0;
  }
  .category-tab .container > .row {
    margin-left: 0;
    margin-right: 0;
  }
  .category-tab .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 22.4%;
            flex: 0 0 22.4%;
    max-width: 22.4%;
    padding: 0 0 0 30px;
  }
  .category-tab .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 77.6%;
            flex: 0 0 77.6%;
    max-width: 77.6%;
    padding: 0;
  }
}
.banner-process .pb-heading {
  margin-bottom: 33px;
}
.banner-process .pb-service-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 38px;
  padding-right: 20px;
}
.banner-process .pb-service-icon {
  display: inline-block;
  margin-right: 21px;
  margin-bottom: 0;
  min-width: 95px;
}
.banner-process .pb-service-content {
  display: inline-block;
  padding-top: 5px;
}
.banner-process .pb-service-title {
  font-size: 22px;
  font-weight: 600;
  color: #3F2803;
  margin-bottom: 11px;
}
.banner-process .pb-service-description {
  margin-bottom: 0;
}
.banner-process .pb-service-description p {
  color: rgba(63, 40, 3, 0.7);
  margin-bottom: 0;
  line-height: 28px;
}

.newsletter .pb-heading {
  font-weight: 600;
  margin-bottom: 8px;
}
.newsletter .block_newsletter {
  max-width: 490px;
  margin-top: 30px;
}
.newsletter .block_newsletter button {
  margin-top: 22px;
  width: 100%;
  border-color: #70C03E;
  background-color: #70C03E;
  color: #fff;
}

@media (max-width: 1366px) {
  .banner-vector {
    margin-top: -200px;
  }
  .banner-vector::before {
    display: none;
  }

  .category-tab .heading h3 {
    font-size: 22px;
  }

  .category-tab .addon-tab .nav-tabs.tab-right {
    padding-right: 140px;
  }

  .productbox-2 .product-buttons .ajax-add-to-cart {
    padding: 0 12px;
  }
}
@media (max-width: 1199px) {
  .banner-vector {
    margin-top: -100px;
  }
}
@media (max-width: 991px) {
  .page-index #header {
    position: static;
  }

  .banner-process .layout-column {
    margin-bottom: 30px;
  }

  .banner-process .pb-service-box {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .banner-process .pb-service-title {
    font-size: 18px;
  }

  .banner-vector {
    margin-top: 0;
  }

  .category-tab .pb-categorytab .owl-nav {
    position: static;
  }

  .category-tab .addon-tab .nav-tabs.tab-right {
    padding-right: 0;
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  .addon-tab .nav-tabs.tab-right .nav-item {
    display: inline-block;
    width: auto;
    margin-left: 10px;
  }
}
@media (max-width: 575px) {
  .banner-vector .layout-column + .layout-column, .category-tab .layout-column + .layout-column {
    margin-top: 15px;
  }

  .category-tab .addon-tab .nav-tabs.tab-right .nav-item {
    margin-left: 0;
  }

  .category-tab .addon-tab .nav-tabs .nav-item + .nav-item::before {
    display: none;
  }
}