h1, h2, h3, h4, h5, h6 {
  color: #70C03E;
}

a:hover {
  color: #70C03E;
  opacity: 1;
}

.btn.btn-active, .btn:hover {
  border-color: #70C03E;
  background-color: #70C03E;
}

.btn-link:hover {
  color: #70C03E;
}

.breadcrumb-wrapper .breadcrumb li a:hover {
  color: #70C03E;
}

.popup-newsletter .block_newsletter .content button {
  background-color: #70C03E;
  border-color: #70C03E;
}

.gdz-megamenu .nav > .menu-item .mega-nav li > a:hover {
  color: #70C03E;
}

.fs-pager-wrapper a span,
.fs-pager-wrapper a.active span {
  background-color: #70C03E;
  border-color: #70C03E;
}

.fs-pager-wrapper a.active span::before {
  border-color: #70C03E;
}

.gdz-slider-wrapper .nav-control > a {
  background-color: #70C03E;
}

.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
  background-color: #70C03E;
}

.owl-dots button span,
.owl-dots button.active span {
  background-color: #70C03E;
  border-color: #70C03E;
}

.owl-dots button.active span::before {
  border-color: #70C03E;
}

.header-3 .header-bottom {
  background-color: #70C03E;
}

.header-5 #header-top .header-right .btn-group > a:hover path {
  fill: #70C03E;
}

#off-canvas-menu > .btn-group li.current a {
  color: #70C03E;
}

#hor-menu .nav > li > a span::after {
  background-color: #70C03E;
}

.gdz-megamenu .nav > .menu-item .mega-nav li.group > a {
  color: #70C03E;
}

.price.new {
  color: #70C03E;
}

.price.total {
  color: #70C03E;
}

.cart-prices-line .value {
  color: #70C03E;
}

#cart_block .remove-from-cart:hover path {
  fill: #70C03E;
}

#blockcart-modal .value {
  color: #70C03E;
}

#blockcart-modal .btn-default {
  border-color: #70C03E;
  color: #70C03E;
}

.productbox-2 .product-buttons .ajax-add-to-cart {
  color: #70C03E;
  border-color: #70C03E;
}

.productbox-3 .product-buttons .btn-icon path {
  fill: #70C03E;
}

.productbox-4 .block-addtocart .product-buttons .cart-button {
  background-color: #70C03E;
}

.productbox-4 .block-addtocart .product-buttons .btn-icon.quick-view:hover {
  background-color: #70C03E;
}
.productbox-4 .block-addtocart .product-buttons .btn-icon.quick-view path {
  fill: #70C03E;
}

.product-miniature::before {
  border-color: #70C03E;
}

.addon-tab .nav-tabs .nav-link.active, .addon-tab .nav-tabs .nav-link:hover {
  color: #70C03E;
}

.pb-testimonial .quote svg {
  fill: #70C03E;
}

.pb-testimonial .pb-testimonial-comment svg path {
  fill: #70C03E;
}

.pb-testimonial.with-thumbnails .pb-testimonial-carousel .owl-nav button:hover path {
  fill: #70C03E;
}

/* Product list */
#search_filters .ui-slider .ui-slider-handle {
  border-color: #70C03E;
}

#search_filters .filter-block .icon-close:hover svg path {
  fill: #70C03E;
}

#search_filters .facet.Weight .facet-label > a:hover {
  border-color: #70C03E;
}

#search_filters .facet.Weight .facet-label.active > a {
  border-color: #70C03E;
  color: #70C03E;
}

.products-sort-order .dropdown-menu a:hover, .products-sort-order .dropdown-menu a.current {
  color: #70C03E;
}

.switch-view.active rect {
  fill: #70C03E;
}

.products-list .product-miniature .product-info .product-buttons .btn-icon:hover path {
  fill: #70C03E;
  fill-opacity: 1;
}
.products-list .product-miniature .product-info .product-buttons .btn-icon:hover span {
  color: #70C03E;
}

.pagination li a:hover {
  color: #70C03E;
}
.pagination li a:hover path {
  fill: #70C03E;
  fill-opacity: 1;
}
.pagination li.current a {
  color: #70C03E;
}

/* details */
.available-quantity {
  color: #70C03E;
}

.bootstrap-touchspin .input-group-btn-vertical .btn-touchspin:hover i::before {
  color: #70C03E;
}

.product-actions .addToWishlist:hover {
  color: #70C03E;
}

.product-actions .addToWishlist:hover svg path {
  fill: #70C03E;
}

.product-images .thumb-container > .thumb.selected,
.product-images .thumb-container > .thumb:hover {
  border-color: #70C03E;
}

.images-container .slick-arrow:hover {
  background-color: #70C03E;
}

#more_info_block li a.active, #more_info_block li a:hover {
  color: #70C03E;
}

.product-variants-item ul li:hover .radio-label, .product-variants-item input:checked ~ .radio-label {
  color: #70C03E;
  border-color: #70C03E;
}

/*account*/
.show-pass button:hover {
  color: #70C03E;
}

/* Blog */
.blog-post .post-fulltext ul li::before {
  background-color: #70C03E;
}

.blog-post .post-fulltext .border-left::before {
  background-color: #70C03E;
}

.widget-categories li a:hover {
  color: #70C03E;
}

.blog-widget li a:hover {
  color: #70C03E;
}

.widget-newsletter .block_newsletter .content button path {
  fill: #70C03E;
}

/* Cart */
.remove-from-cart:hover {
  color: #70C03E;
}

.product-line-info .price {
  color: #70C03E;
}

/* footer */
.footer #footer-main .block-content li a:hover {
  color: #70C03E;
}

.footer-4 .hotline {
  color: #70C03E;
}

.footer-5 #footer-main .block-content li a:hover {
  color: #70C03E;
}

.owl-carousel .owl-stage-outer {
  height: calc(100% + 30px);
  width: calc(100% + 30px);
  margin: -15px;
  padding: 15px;
}

#header-top .header-right {
  top: 3px;
}
#header-top .logo {
  position: relative;
  bottom: 3px;
}

.fs-pager-wrapper {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.organic-banner .btn:hover {
  color: #70C03E;
}
.organic-banner .btn:hover::after {
  background-color: #70C03E;
}
.organic-banner .pb-banner-title {
  letter-spacing: -0.01em;
}
.organic-banner .pb-banner-title span span {
  font-size: 50px;
  font-family: "Alako-Bold";
}
.organic-banner .pb-banner-desc {
  letter-spacing: -0.01em;
}

.banner-fullwidth {
  position: relative;
  z-index: 1;
}
.banner-fullwidth .title {
  line-height: 1.3;
}
.banner-fullwidth .btn-xl {
  text-transform: initial;
  height: 54px;
  line-height: 49px;
  padding: 0 27px;
  font-weight: 600;
  border-color: #fff;
  color: #70C03E;
}
.banner-fullwidth .btn-xl:hover {
  color: #fff;
}
.banner-fullwidth .column {
  max-width: 270px;
  margin-right: 30px;
}
.banner-fullwidth .column img {
  margin-bottom: 21px;
}
.banner-fullwidth .column h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.02em;
  margin-bottom: 7px;
}

.testimonial {
  position: relative;
  -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
}
.testimonial .pb-testimonial-comment {
  margin-top: 21px;
  margin-bottom: 9px;
}
.testimonial .layout-column {
  position: static;
}
.testimonial .leaf {
  width: auto;
  display: inline-block;
  position: absolute;
  z-index: 10;
}
.testimonial .leaf-1 {
  top: -95px;
  left: 23px;
}
.testimonial .leaf-2 {
  bottom: -130px;
  left: 310px;
}
.testimonial .leaf-3 {
  top: 46px;
  right: 63px;
}

@media (min-width: 1200px) {
  .newsletter .col-lg-5 {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .newsletter .col-lg-7 {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
}
.newsletter {
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.newsletter .container {
  padding: 0 75px;
}
.newsletter .pb-heading {
  padding-top: 9px;
  letter-spacing: 0;
}
.newsletter .block_newsletter .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.newsletter .block_newsletter .content .input-wrapper {
  width: 100%;
}
.newsletter .block_newsletter .content input {
  width: 100%;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.newsletter .block_newsletter .content input::-webkit-input-placeholder {
  color: #fff;
}
.newsletter .block_newsletter .content input::-moz-placeholder {
  color: #fff;
}
.newsletter .block_newsletter .content input:-ms-input-placeholder {
  color: #fff;
}
.newsletter .block_newsletter .content input::-ms-input-placeholder {
  color: #fff;
}
.newsletter .block_newsletter .content input::placeholder {
  color: #fff;
}
.newsletter .block_newsletter .content button {
  border-color: #fff;
  margin-left: 25px;
}
.newsletter .block_newsletter .content button:hover {
  color: #fff;
}

@media (max-width: 1366px) {
  .newsletter {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (max-width: 1199px) {
  .testimonial .leaf {
    display: none;
  }
}
@media (max-width: 991px) {
  .newsletter .pb-heading {
    text-align: center !important;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .fraction-slider .prev {
    left: 15px;
  }

  .fraction-slider .next {
    right: 15px;
  }

  .title h3 {
    font-size: 20px;
  }

  .banner-fullwidth .block-col {
    display: none;
  }

  .organic-banner .pb-banner-title span span {
    font-size: 30px;
  }

  .newsletter .container {
    padding: 0 15px;
  }

  .newsletter .block_newsletter .content button {
    margin-left: 0;
    margin-top: 15px;
  }

  .newsletter .block_newsletter .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 575px) {
  .organic-banner .layout-column {
    margin-bottom: 15px;
  }
}